<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6" *ngFor="let asignature of asignatureItems">
      <section class="asignature-card d-flex flex-row justify-content-between">
        <figure class="asignature-icon d-flex justify-content-center align-items-center"><fa-icon [icon]="faCoffee"></fa-icon></figure>
        <div class="d-flex w-100 flex-column justify-content-center align-items-center">
          <h3 class="fw-bold">{{ asignature.title }}</h3>
          <button class="card-btn fw-bold text-white">{{ btnName }}</button>
        </div>
      </section>
    </div>
  </div>
</div>
