<h1 class="logo">Logo</h1>

<!-- <section class="perfil">
  <div class="d-flex justify-content-center align-items-center">
    <img class="perfil-user" src="{{imgProfile}}" alt="{{altname}}">
    <span class="fw-bold fw-light">{{profile}}</span>
  </div>
  <ul class="perfil-nav text-white fw-normal">
    <li class="nav-item">Cuenta</li>
    <li class="nav-item">Cerrar Sesión</li>
  </ul>
</section> -->

<section class="perfil">
  <div class="d-flex justify-content-center align-items-center">
    <img class="perfil-user" src="{{imgProfile}}" alt="{{altname}}">
    <span class="fw-bold fw-light">{{profile}}</span>
  </div>
  <div class="perfil-nav">
    <li class="nav-item">Cuenta</li>
    <li class="nav-item">Cerrar Sesión</li>
  </div>
</section>
